# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Generated prediction results
prediction_results.csv

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

#node modules
node_modules/
.env

